kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  namespace: {{ base_prefix }}-{{ team }}
  name: read-role-{{ base_prefix }}
rules:
- apiGroups: ["*"]
  resources: ["{{ read_resources | join ('\", \"')}}"]
  verbs: ["get", "watch", "list"]
---

kind: Role
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  namespace: {{ base_prefix }}-{{ team }}
  name: write-role-{{ base_prefix }}
rules:
- apiGroups: ["*"]
  resources: ["{{ write_resources | join ('\", \"')}}"]
  verbs: ["create", "update", "patch", "delete"]
